<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>OneAU Web Application</display-name>
    <servlet>
        <servlet-name>EphemerisServlet</servlet-name>
        <display-name>Ephemeris Servlet</display-name>
        <description>Loads an instance of Ephemeris into the Servlet Context, and remains available to fulfill requests.</description>
        <servlet-class>com.oneau.web.EphemerisServlet</servlet-class>
        <init-param>
            <param-name>jdbc_url</param-name>
            <param-value>jdbc:postgresql:oneau</param-value>
            <description>JDBC Url</description>
        </init-param>
        <init-param>
            <param-name>jdbc_username</param-name>
            <param-value>oneau</param-value>
            <description>JDBC Username</description>
        </init-param>
        <init-param>
            <param-name>jdbc_password</param-name>
            <param-value>oneau</param-value>
            <description>JDBC Password</description>
        </init-param>
        <init-param>
            <param-name>jdbc_driver</param-name>
            <param-value>org.postgresql.Driver</param-value>
            <description>JDBC Driver</description>
        </init-param>
        <!--
        <init-param>
            <param-name>jdbc_url</param-name>
            <param-value>jdbc:hsqldb:file:/var/local/db/oneau/ephemeris-db</param-value>
            <description>JDBC Url</description>
        </init-param>
        <init-param>
            <param-name>jdbc_username</param-name>
            <param-value>SA</param-value>
            <description>JDBC Username</description>
        </init-param>
        <init-param>
            <param-name>jdbc_password</param-name>
            <param-value/>
            <description>JDBC Password</description>
        </init-param>
        <init-param>
            <param-name>jdbc_driver</param-name>
            <param-value>org.hsqldb.jdbcDriver</param-value>
            <description>JDBC Driver</description>
        </init-param>
        -->
        <!--
        <init-param>
            <param-name>ephemeris-data</param-name>
            <param-value>ascp2000.405</param-value>
            <description>Comma-separated list of Ephemerides Data File(s)</description>
        </init-param>
        -->
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MagneticDeclinationServlet</servlet-name>
        <display-name>Magnetic Declination Servlet</display-name>
        <description>Calculates magnetic declination for a given location and date.</description>
        <servlet-class>com.oneau.web.MagneticDeclinationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EphemerisServlet</servlet-name>
        <url-pattern>/ephemeris</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MagneticDeclinationServlet</servlet-name>
        <url-pattern>/magnetic-declination</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jspx</welcome-file>
    </welcome-file-list>
</web-app>
